:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --axent-color: #2196F3;
    --white-color: #FFFFFF;
    --logo-main-color: #000000;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --axent-background-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
/*Палитра страницы*/
/*цвет основного текста #757575 /
/*цвет вторичного текста #212121  */
/*акцент #2196F3 */
/*белый #FFFFFF */
/*вторичный цвет фона #F5F4FA */
/* акцентный цвет фона #2F303A */

body {
    font-family: roboto, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}  

/* Шапка */

.logo {
    font-family: raleway, sans-serif; 
    color:var(--logo-main-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo .accent {
    color: var(--axent-color);
}

/* site-nav */
 .site-nav .link {
    font-family:inherit;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--axent-color);
} 

.site-nav .link.current {
    color: #2196F3;
}

/* site-contacts */
.site-contacts .link {
    font-family: inherit;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--axent-color);
}

/* hero */
.hero {
    background-color: var(--axent-background-color);
    color: var(--white-color);
    letter-spacing: 0.06em;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
.hero-button {
    background-color: var(--axent-color);
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
}

/* Преимущества */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-work {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.paragraf {
    font-size: 14px;
    line-height: 1.72;
}

.section-title, .team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
    background-color: var(--secondary-background-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-names {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
}

.team .cards {
    background-color: var(--primary-background-color);
}
/* Footer */
footer {
    background-color: var(--axent-background-color);
}

.logo-footer {
    font-family: raleway, sans-serif;
    color: var(--white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-footer .accent {
    color: var(--axent-color);
}
.adress {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    }

.adress:hover,
.adress:focus {
    color: var(--axent-color);
}
        
.footer-contacts {
    color: var(--footer-contacts-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--axent-color);
}


/* page potfolio */

.filter-button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--white-color);
    background-color: var(--axent-color);
}
.client {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.category {
    font-size: 16px;
    line-height: 1.88;
}